APIC_BASE_URL=https://REPLACE_WITH_APIC_ADDRESS
APIC_USERNAME=REPLACE_WITH_USERNAME
APIC_PASSWORD=REPLACE_WITH_PASSWORD
APIC_VERIFY_TLS=false
ACI_TENANT=CCNPAUTO-ThreeTier-REPLACE_INITIALS
ACI_ALLOW_CHANGES=false
