IOSXE_HOST=REPLACE_WITH_SANDBOX_HOST_OR_IP
IOSXE_SSH_PORT=22
IOSXE_HTTPS_PORT=443
SANDBOX_MODE=reserved
ALLOW_CONFIG_CHANGES=false
VERIFY_TLS=false

NETBOX_URL=http://127.0.0.1:8000
NETBOX_TOKEN=REPLACE_WITH_NETBOX_API_TOKEN
NETBOX_DEVICE=iosxe-sandbox
NETBOX_TAG=automation-managed

VAULT_ADDR=http://127.0.0.1:8200
VAULT_MOUNT=secret
VAULT_IOSXE_PATH=ccnpauto/iosxe

